html,body{
    height: 100%;
    margin: 0;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer{
    padding: 20px;
    text-align: center;
    width: 100%;
    /* position:relative; */
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
  /* background-color: red; */
  /* color: white;
  text-align: center; */
}

.container{
    flex: 1;
}
.footer p{
    margin: 0;
}